*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(6, 6, 43);
    color: aliceblue;
}

header,main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

button,input{
    border: none;
    padding: 10px;
}

input{
    width: 300px;
}




/*RESPONSIVE*/
/* small device*/
@media only screen and (min-width:600px){
    body{
        background:rgb(73, 73, 140)
    }
}
/*landscape*/
@media only screen and (min-width:768px){
    body{
        background:pink
    }
}
/*laptop*/
@media only screen and (min-width:992px){
    body{
        background:rgb(63, 88, 63)
    }
}
/*large laptop*/
@media only screen and (min-width:1200px){
    body{
        background:rgb(149, 149, 95)
    }
}
