*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(6, 6, 43);
    color: aliceblue;
}

header,main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
}
main{
    flex-direction: column;
    
}
.display-task{
    color: black;
    width: 500px;
    margin: 50px;
}
button,#input-add{
    border: none;
    padding: 10px;
}

#input-add{
    width: 300px;
}
ul{
    list-style: none;
}
li{
    background-color: aliceblue;
    margin: 3px;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



/*RESPONSIVE*/
/* small device*/
@media only screen and (min-width:600px){
    body{
        background:rgb(73, 73, 140)
    }
}
/*landscape*/
@media only screen and (min-width:768px){
    body{
        background:pink
    }
}
/*laptop*/
@media only screen and (min-width:992px){
    body{
        background:rgb(63, 88, 63)
    }
}
/*large laptop*/
@media only screen and (min-width:1200px){
    body{
        background:rgb(149, 149, 95)
    }
}
